<!DOCTYPE html>
<html>
<head>
  <title>Class04exercise2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'new post', new_post_path %><br>
<%= link_to 'show post', posts_path %><br>
<%= link_to 'posts', posts_path %><br>

<br><br><br>

<%= yield %>

<br><br>

<%= link_to 'new user', root_path %><br>
<%= link_to 'show user', users_path %><br>
<%= link_to 'users', users_path %><br>




</body>
</html>
